include ../shared/_mixins

.container.layout__offset
  .container_hor
    +photos.container__item
      +set('photo1')
        .crop
          +image('img/slides/slide_2-osnovnoy_zal.jpeg')
      +set('photo2')
        .crop
          +image('img/slides/slide_2-pavel_li.jpeg')
    .container__item
      .container
        .container_ver.justifyContentCenter
          .note
            h1 Концепция заведения
            p
              | Идея проекта заключается в создании нового формата качественных и модных суши баров.
              br
              br
              | Суши бары работают на исключительно свежем и премиальном сырье. Еда не только вкусная, и что крайне важно для нашей целевой аудитории, здоровая и не тяжелая.
            br
            +caption
              +set('content')
                | Совладелец и бренд-шеф проекта
                br
                | Павел ли
            .note__button_wrapper
                +button(href="gallery.html#")
                  | Фотогалерея