// replace with video

.fp-sect__background_video
  video(loop, muted, autoplay, playsinline, data-keepplaying, poster="img/Running-Sushi.jpg")
    source(src="media/Running-Sushi.mp4" type="video/mp4")
    source(src="media/Running-Sushi.ogv" type="video/ogg")
    source(src="media/Running-Sushi.webm" type="video/webm")
  .fp-sect__background_dark_overlay
.fp-sect__inner.fish__pagination.mainpage.mobile-chrome-fix-height
  .container.mainpage__slider(js-main-page-slider)

    .slick-slide
      h1 Ресторан паназиатской кухни нового формата
      p Суши бары работают на исключительно свежем и премиальном сырье. Еда не только вкусная, и что крайне важно для нашей целевой аудитории, здоровая и не тяжелая.

    .slick-slide
      h1 Slide 2
      p Descr

    .slick-slide
      h1 Slide 3
      p Descr

    .slick-slide
      h1 Slide 4
      p Descr

    .slick-slide
      h1 Slide 5
      p Descr

    .slick-slide
      h1 Slide 6
      p Descr