// replace with video
.fp-sect__background(style="background-image: url('img/slides/slide_1-main_bg.png')")
.fp-sect__inner.fish__pagination.mainpage.mobile-chrome-fix-height
  .container.mainpage__slider(js-main-page-slider)

    .slick-slide
      h1 Ресторан паназиатской кухни нового формата
      p Суши бары работают на исключительно свежем и премиальном сырье. Еда не только вкусная, и что крайне важно для нашей целевой аудитории, здоровая и не тяжелая.

    .slick-slide
      h1 Slide 2
      p Descr

    .slick-slide
      h1 Slide 3
      p Descr

    .slick-slide
      h1 Slide 4
      p Descr

    .slick-slide
      h1 Slide 5
      p Descr

    .slick-slide
      h1 Slide 6
      p Descr