// replace with video
.page__background(style="background-image: url('img/slides/slide_1-main_bg.png')")
.main_page.fish__pagination
  .container.main_page__slider(js-main-page-slider)
    .slick-slide
      h1.main_page__h1 Ресторан паназиатской кухни нового формата
      p.main_page__text.font-size-normal.weight-medium
        | Суши бары работают на исключительно свежем и премиальном сырье. Еда не только вкусная, и что крайне важно для нашей целевой аудитории, здоровая и не тяжелая.
    .slick-slide
      h1.main_page__h1 Slide 2
      p.main_page__text.font-size-normal.weight-medium
        | Descr
    .slick-slide
      h1.main_page__h1 Slide 3
      p.main_page__text.font-size-normal.weight-medium
        | Descr

    .slick-slide
      h1.main_page__h1 Slide 4
      p.main_page__text.font-size-normal.weight-medium
        | Descr

    .slick-slide
      h1.main_page__h1 Slide 5
      p.main_page__text.font-size-normal.weight-medium
        | Descr

    .slick-slide
      h1.main_page__h1 Slide 6
      p.main_page__text.font-size-normal.weight-medium
        | Descr