// replace with video

.fp-sect__background_video
  video(loop, muted, autoplay, playsinline, data-keepplaying, poster="img/Running-Sushi.jpg")
    source(src="media/Running-Sushi.mp4" type="video/mp4")
    source(src="media/Running-Sushi.ogv" type="video/ogg")
    source(src="media/Running-Sushi" type="video/webm")
  .fp-sect__background_dark_overlay
.fp-sect__inner.fish__pagination.b-mainpage.mobile-chrome-fix-height
  .container.b-mainpage__slider(js-main-page-slider)

    .slick-slide
      h1.bigger_h1 Ресторан паназиатской кухни нового формата
      p.size-normal.white-transp Суши бары работают на исключительно свежем и премиальном сырье. Еда не только вкусная, и что крайне важно для нашей целевой аудитории, здоровая и не тяжелая.

    .slick-slide
      h1.bigger_h1 Lorem Ipsum
      p.size-normal.white-transp это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.

    .slick-slide
      h1.bigger_h1 Slide 3
      p.size-normal.white-transp Mauris dolor neque, mollis at volutpat vel, tempor at massa. Donec ut diam mi. Integer sed eros nisl. Sed at sapien viverra, fringilla eros ultrices, cursus magna. Ut sit amet blandit arcu. Sed sed est sed sapien posuere porta in.

    .slick-slide
      h1.bigger_h1 Slide 4
      p.size-normal.white-transp Maecenas interdum consequat tellus, eget posuere mauris auctor pulvinar. Etiam at pharetra felis. Donec lobortis malesuada sem. Aliquam risus justo, interdum volutpat porta vel, posuere vel dolor. Phasellus volutpat ligula metus, id rutrum nulla dignissim vel. Nulla tempor pretium elit, ullamcorper aliquet metus aliquam ac. Vivamus sodales molestie augue aliquet egestas. Etiam malesuada mi sapien, non viverra magna consectetur a. Aenean fermentum efficitur vestibulum. Morbi eget dictum enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.

    .slick-slide
      h1.bigger_h1 Slide 5
      p.size-normal.white-transp Praesent vel risus porta, iaculis mauris sed, venenatis sapien. Phasellus scelerisque nibh lacus, ut fermentum mauris pretium eget. Donec quis varius augue. Praesent eleifend turpis et lacus efficitur ultricies. Donec iaculis urna ut est interdum fringilla. Nunc commodo magna id ipsum auctor consequat. Sed sapien nunc, ullamcorper eget ultrices sed, posuere nec metus. Nam sagittis massa at rhoncus semper. Cras imperdiet metus at suscipit interdum. Nunc vehicula efficitur erat, et.

    .slick-slide
      h1.bigger_h1 Slide 6
      p.size-normal.white-transp Donec iaculis, risus vestibulum condimentum euismod, metus sapien bibendum elit, vel tempus sem orci in enim. In hac habitasse platea dictumst. Cras molestie vulputate laoreet. Praesent vel volutpat felis. Praesent interdum condimentum blandit. Sed eu vestibulum nibh, vitae eleifend quam. Pellentesque suscipit suscipit massa sit amet congue. Nullam lacinia, mauris et semper gravida, purus purus vulputate justo, non placerat dolor mauris ac mauris. Proin a blandit lectus, molestie scelerisque nisl.