include ../shared/_mixins

.container.b-menupage
  .layout__offset.b-menupage__wrapper
    +icon("icon-y-letter").background_letter.b-menupage__letter_y.br-wide
    +icon("icon-o-letter").background_letter.b-menupage__letter_o
    +icon("icon-o-letter").background_letter.b-menupage__letter_o2

    h2.br-tab.center-mobile Наше меню
    .b-categories.root-block
      -
        var menuItems = [
        ["Роллы", "roll"],
        ['Сашими', 'sashimi'],
        ['Супы', 'soup'],
        ['Горячее', 'hot'],
        ['Холодное', 'cold'],
        ['Напитки', 'drinks']
        ]
      each item in menuItems
        +anchor(href='menu.html').b-category
          span.b-category__title= item[0]
          .b-category__image_wrapper
            .b-category__image(style=`background-image: url(${'img/menu/' + item[1] + '.jpeg'})`)
              .b-category__filter
