include ../shared/_mixins

.container.b-newspage.root-block
  .container_ver.layout__offset.b-newspage__wrapper
    //+icon("icon-y-letter").background_letter.b-newspage__letter_y
    //+icon("icon-o-letter").background_letter.b-newspage__letter_o

    -
      var newsItems = [
      ["Новогодние корпоративы в сети BB Grill", "14", "Декабрь, 2017", "1"],
      ["Новогоднее меню в Tokio", "04", "Декабрь, 2017", "2"],
      ["Новогоднее меню в Tokio", "19", "Ноябрь, 2017", "3"]
      ]
      var itemsPerRow = 3


    .b-newspage__container
      h2.center-mobile Последние новости

      while newsItems.length > 0
        - var splicedNews = newsItems.splice(0, itemsPerRow)

        if splicedNews.length === 0
          break

        .b-newspage__row
          each item in splicedNews
            +anchor(href="story_inner.html").b-story.root-block
              // # at the end is required to avoid fullpage bug
              .b-story__inner
                .b-story__wrapper
                  .b-story__image
                    .b-story__image_img(style=`background-image: url('img/news/${item[3]}.jpeg')`)
                      .b-story__image_filter
                  +date(item[1], item[2])
                span.b-story__title
                  =item[0]
    .b-newspage__button_wrapper
      +button(href="all_news.html")
        | Все новости
