.categories
  display: flex
  flex: 1

  .category:not(:last-child)
    margin-right: 20px

.category
  position: relative
  display: flex
  flex: 1
  min-height: 455px
  z-index: $defaultZIndex

  &__image, &__image_wrapper
    display: flex
    flex: 1

  &__image_wrapper
    overflow: hidden

  &__image
    background-size: cover
    background-position: center
    transition: transform $ease $transitionSpeed

  &:hover &__image
    transform: scale($imageScaleCoefficient)

  &__filter
    +overlay
    +linearGradient(transparent, #000, 40%)

  &__title
    @extend .font-bravo-rg
    @extend .size-big3
    @extend .weight-regular
    color: $colorWhite

    z-index: $defaultZIndex+1
    position: absolute
    bottom: 20px
    right: 20px
    align-self: start
    text-transform: uppercase

    transform: rotate(-90deg) translateX(100%)
    transform-origin: 100% 100%

@mixin categoriesMobileView()
  .categories
    flex-direction: column

    .category
      min-height: 140px
      margin-right: 0
      margin-left: 0

      &:not(:last-child)
        margin-bottom: 2rem

  .category
    font-size: 1.1rem

    &__filter
      +horizontal-gradient(#000, transparent, -5%, 80%)

    &__title
      transform: none
      right: initial
      left: 20px
