.b-categories
  display: flex
  flex: 1
  align-items: center

  .b-category:not(:last-child)
    margin-right: 20px

.b-category
  +font-size-block($sizeBig2)

  position: relative
  display: flex
  flex: 1
  min-height: 455px
  max-height: 700px
  height: 100%
  z-index: $defaultZIndex

  &__image, &__image_wrapper
    display: flex
    flex: 1

  &__image_wrapper
    overflow: hidden

  &__image
    background-size: cover
    background-position: center
    transition: transform $ease $transitionSpeed

  &:hover &__image
    transform: scale($imageScaleCoefficient)

  &__filter
    +overlay
    +linearGradient(transparent, #000, 40%)

  &__title
    @extend .font-bravo-rg
    @extend .weight-regular
    color: $colorWhite

    z-index: $defaultZIndex+1
    position: absolute
    bottom: 20px
    right: 20px
    align-self: start
    text-transform: uppercase

    transform: rotate(-90deg) translateX(100%)
    transform-origin: 100% 100%

@mixin categoriesMobileView()
  .b-categories
    flex-direction: column

    .b-category
      min-height: 140px
      margin-right: 0
      margin-left: 0

      &:not(:last-child)
        margin-bottom: 2rem

  .b-category
    +font-size-block($sizeBigger)

    &__filter
      +horizontal-gradient(#000, transparent, -5%, 80%)

    &__title
      transform: none
      right: initial
      left: 20px
