.b-corner__date
  position: absolute
  left: 0
  top: 0
  color: $colorGreen

  &_day
    @extend .size-bigger2
    @extend .font-bravo-rg

    line-height: 0
    position: absolute
    left: -1.5rem
    top: 0

    transform: rotate(-90deg)

  &_rest
    @extend .size-normal4
    @extend .font-pt-sans

    line-height: 0
    white-space: nowrap
    position: absolute
    top: -1rem
    left: 2.5rem

@mixin cornerDateAtTop()
  .b-corner__date
    display: flex
    justify-content: flex-end
    transform: translate(25%, -40%)

    &_day
      font-size: 6em
      position: relative
      left: 0
      top: -5px
      transform: none
      height: auto
      line-height: 1

    &_rest
      position: relative
      top: 0
      left: 1rem
      height: auto
      line-height: 2
