.fish__pagination
  $shortenRatio: 0.6

  .slick-dots

    li
      display: block

    li:nth-child(1) .fish__bone:after
      width: 33px*$shortenRatio

    li:nth-child(2) .fish__bone:after
      width: 18px*$shortenRatio

    li:nth-child(3) .fish__bone:after
      width: 39px*$shortenRatio

    li:nth-child(4) .fish__bone:after
      width: 50px*$shortenRatio

    li:nth-child(5) .fish__bone:after
      width: 33px*$shortenRatio

    li:nth-child(6) .fish__bone:after
      width: 15px*$shortenRatio

  .fish__bone
    position: relative
    display: block
    width: 20px
    height: 8px
    margin: 4px 0

    &:after
      content: ''
      position: absolute
      left: 0
      top: 50%
      height: 1px
      transition: background-color $ease $transitionSpeed
      background: $fishPagerDefaultColor

  .slick-active
    .fish__bone:after
      background: $fishPagerSelectedColor