.gallery
  $baseSize: 230px

  &__back_mob
    display: none

  &__wrapper
    padding: $paddingWrapperVertical 0
    flex: 1
    width: 100%
    display: flex
    flex-direction: column
    justify-content: center
    margin-top: -$baseSize / 3
    margin-bottom: $baseSize / 3

  &__img
    overflow: hidden
    position: relative
    width: $baseSize
    height: $baseSize
    border: $baseSize/30 solid transparent
    z-index: $defaultZIndex + 3
    pointer-events: all

    img
      object-fit: cover
      width: 100%
      height: 100%
      transition: transform $transitionSpeed $ease

    &:hover
      img
        transform: scale($imageScaleCoefficient)

  &__row
    pointer-events: none
    display: flex
    position: relative
    min-height: 500px
    width: 100%
    justify-content: center
    align-items: center

    .left__side, .right__side
      flex: 0

    .left__side
      display: flex
      flex-direction: column
      align-items: flex-end
      padding-top: $baseSize/3

      .gallery__img:first-child
        width: $baseSize*1.3

      .gallery__img:last-child
        width: $baseSize*0.9
        height: $baseSize*0.7
        top: $baseSize

    .right__side
      display: flex
      flex-direction: column
      align-items: flex-start

      & > .gallery__img
        width: $baseSize*2
        height: $baseSize*1.3

      &_inner
        display: flex
        flex-direction: row

        .gallery__img:first-child
          width: $baseSize*1.1
          height: $baseSize*2

        .gallery__img:last-child
          height: $baseSize*0.8
          width: $baseSize*1.3

  +r(1100)
    max-width: initial !important
    width: 100%

    &__back_mob
      display: flex
      padding-left: $paddingWrapperSide

    &, &__inner
      margin: 0
      padding: 0

    &__wrapper
      margin: 0

    &__heading
      padding-left: $paddingWrapperSide

    &__row
      flex-direction: column

      *
        padding: 0 !important
        margin: 0 !important
        position: relative !important
        width: 100% !important
        height: 600px !important
        left: initial !important
        right: initial !important
        top: initial !important
        bottom: initial !important
        flex-direction: column !important

      .gallery__img
        border-left: 0
        border-right: 0

      .right__side > .gallery__img
        flex: 2.5
        border-top: 0
        border-bottom: 0
