$inputHeight: 40px
$inputWidth: 220px
$inputIconScale: .8
$formInputHorizontalPadding: 1.5rem
$formInputPadding: 0 $formInputHorizontalPadding
$formInputBorder: 1px solid $formInputDefaultBorderColor

@mixin placeholder
  &::-webkit-input-placeholder
    @content

  &:-moz-placeholder
    @content

  &::-moz-placeholder
    @content

  &:-ms-input-placeholder
    @content

.form__small_text
  display: inline-block
  @extend .font-lato
  @extend .weight-light
  @extend .size-smallest
  color: $formDimTextColor
  line-height: 1

a.form__small_text
  border-bottom: 1px solid transparentize($formDimTextColor, 0.4)

.form__info
  @extend .size-smallest
  padding: 2rem 70% 0 0

.form__field, .form__field_multi
  position: relative
  display: flex
  flex-direction: row
  align-items: stretch
  justify-content: stretch
  flex: 1
  max-width: $inputWidth

  & > *
    width: 100%
    flex: 1

.form__field_multi
  max-width: $inputWidth * 2

//select, input, .chosen-container
  flex: 1

.input_with_icon
  input
    padding-left: calc(#{$formInputHorizontalPadding} + 0.5rem)

  .input__icon
    position: absolute
    left: 0
    top: 50%
    transform: translate(0.5rem, -60%)

input, select, .chosen-single span, .chosen-results li
  @extend .font-lato
  @extend .size-small
  @extend .weight-regular
  color: $formInputColor !important

input, select, .chosen-container
  cursor: pointer
  @extend .size-small
  @extend .weight-regular
  height: $inputHeight
  box-shadow: none !important
  background: $background !important
  border: $formInputBorder
  color: $formInputColor !important
  padding: $formInputPadding
  transition: border-color $ease $transitionSpeed !important

  &:hover
    border-color: $formInputHoverBorderColor

.chosen-container
  padding: 0
  border: 0

//  TODO: Check why global Lato font resets
//input
  @include placeholder
    @extend .font-lato
    @extend .weight-medium
    @extend .size-smallest
    color: $formInputPlaceholderColor !important

.chosen-single
  height: 100% !important
  border-radius: 0 !important
  box-shadow: none !important
  border: $formInputBorder !important
  padding: $formInputPadding
  background: none !important
  display: flex !important
  align-items: center !important

.chosen-drop
  height: auto
  border: $formInputBorder !important
  padding: 0 !important

.chosen-results
  padding: 0 !important
  margin: 0 !important

// Chosen select handle (Collapsed)
.chosen-container-single .chosen-single div b
  background-image: url("../img/select-handle.png")
  background-size: 60%
  background-position: center
  transition: transform $ease 0.1s

// Chosen select handle (Expanded)
.chosen-container-active.chosen-with-drop .chosen-single div b
  background-position: center
  transform: rotate(180deg)

.chosen-results li
  // Item in select box
  cursor: pointer !important
  display: flex !important
  align-items: baseline
  justify-content: flex-start
  padding: 10px $formInputHorizontalPadding 14px
  min-height: $inputHeight
  background: $background !important
  transition: background $ease $transitionSpeed
  line-height: 1.4 !important

  &:not(:last-child)
    border-bottom: $formInputBorder

  &:hover
    background: darken($background, 2%) !important

// Hide placeholder dummy option
.chosen-results li:first-child.disabled-result
  display: none !important

//

@mixin icon-on-select
  .chosen-single, .chosen-results li
    &:before
      @content
      content: ''
      position: absolute
      left: 10px
      top: 50%
      bottom: 0
      width: 40px
      transform: translate(20%, -50%)

  .chosen-single, .chosen-results li
    padding-left: 50px

  .chosen-results li
    position: relative

    &:before
      top: 15px

  //.chosen-single:before
    transform: scale($inputIconScale) translateY(-10%)

[data-class*='address__select']
  @include icon-on-select
    @extend .icon-geo2x

[data-class*='user__select']
  @include icon-on-select
    @extend .icon-man2x

.input-icon
  pointer-events: none
  position: absolute
  left: 10px
  top: 0
  bottom: 0
  width: 40px
  display: flex
  align-items: center
  justify-content: center

  & + *
    padding-left: 50px