.photos
  $baseSize: 200
  $aspectRatio: 1.5

  position: relative
  margin: auto 0
  min-height: 400px

  &__letter
    &-o
      left: 61%
      top: 54%

    &-y
      left: 3%
      top: 5%

  &__background
    z-index: 2
    position: absolute
    bottom: 0
    left: 6%
    width: 50%
    height: 50%
  // TODO: CHECK. Could cause bugs

  &__photo
    z-index: 3
    position: relative
    width: $baseSize*1px
    height: $baseSize*1px
    object-fit: cover

    &_1
      height: $baseSize*$aspectRatio*1px
      left: 20%
      top: 0

    &_2
      height: $baseSize*$aspectRatio*1px
      left: 10%
      top: 60px

    &_only
      height: $baseSize*$aspectRatio*1.1px
      width: $baseSize*$aspectRatio*1.1px
      left: 20%
      top: 0

  &__label
    position: absolute
    z-index: 5
    transform: scale(0.6)
    //zoom: 0.6

    &_fish
      top: 66%
      left: 23%

    &_k
      top: 87%
      left: 10%