.slide
  position: relative
  display: none
  flex: 1

  &__active
    display: flex

  &__background
    z-index: 0
    position: absolute
    left: 0
    top: 0
    right: 0
    bottom: 0
    background-size: cover
    background: no-repeat center