.svg-animated
  position: relative
  background: none

.svg-fish-sushi-wine
  .group
    animation: rotate 10s infinite linear
    transform-origin: 46.5% 49%

@keyframes rotate
  from
    transform: rotate(0deg)
  to
    transform: rotate(360deg)