.contacts
  &_page
    padding: 30px 0 0

    &__inner
      padding-top: 50px

      +mediaMaxHeight(740)
        padding-top: 20px

  &__map
    display: block
    height: 100%

    &_inner
      position: relative
      bottom: 0
      left: -13%
      -webkit-box-flex: 1
      -webkit-flex: 1
      -ms-flex: 1
      flex: 1
      width: 113%
      height: 100%

  &__content
    flex: 1
    padding-left: 160px

    &_inner
      padding-left: 0

  &__descr
    @extend .font-lato
    @extend .weight-light
    @extend .size-normal2

    line-height: 2rem
    padding-top: 10px
    padding-right: 85px

    +mediaMaxHeight(670)
      padding-top: 0

  &__addresses
    margin-top: 40px
    margin-bottom: 60px

    +mediaMaxHeight(860)
      margin-top: 20px
      margin-bottom: 20px

    .address:not(:last-child)
      margin-bottom: 60px

      +mediaMaxHeight(790)
        margin-bottom: 20px

  &__socials
    $socialsLineWidth: 140px
    position: relative
    padding-left: $socialsLineWidth

    .social
      display: inline-block
      margin-right: 20px

    &:before
      content: ''
      position: absolute
      left: 0
      top: 20px
      width: $socialsLineWidth - 40px
      border-top: 1px solid $colorGreen

.address
  display: flex
  flex-direction: row

  &__icon
    flex: none
    padding: 0 0 0 30px
    margin-top: 2px

  &__content
    flex: 1
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start

  &__place
    @extend .font-bravo-rg
    @extend .weight-regular
    @extend .size-big

  &__time
    @extend .font-lato
    @extend .weight-light
    @extend .size-normal
    padding: 10px 0
    color: transparentize($colorDimGray, 0.2)

  &__phone
    @extend .font-bravo-rg
    @extend .weight-regular
    @extend .size-big
    padding: 10px 0 0 0
    color: $colorGreen

// Typography styles

.contacts
  &_page
    +mediaMaxHeight(950)
      font-size: 90%

    +mediaMaxWidth($wide)
      font-size: 90%

    //+mediaMaxHeight(800)
    //  font-size: 70%