.error_page
  &__h1
    font-size: 21.25rem
    margin: 0

  &__text
    @extend .font-lato
    @extend .weight-medium
    @extend .size-normal2
    padding: 0 40px
    max-width: 500px
    text-align: center

  &__link
    color: $colorGreen
    padding-bottom: 1px
    border-bottom: 1px solid $colorGreen
    //text-decoration: underline