.main_page
  align-items: center
  padding-left: 64px
  padding-right: 530px

  &__h1
    @extend .size-biggest

    position: relative
    padding-bottom: 30px
    margin-bottom: 30px
    color: $colorWhite
    text-transform: initial

    &::after
      content: ''
      display: block
      position: absolute
      left: 0
      bottom: 0
      border: 1px solid $colorWhite
      width: 60px

  &__text
    @extend .size-normal2
    margin: 0
    position: relative
    color: transparentize($colorWhite, 0.2)
    line-height: 2em
