$spaceBetweenNews: 60
$storyLineHeight: 1.4em
$storyBeforelineWidth: 35px
$storyAfterlinePadding: 15px

.news
  &_page
    &__letter
      &_o
        right: 0
        bottom: 20%

      &_y
        top: 50%
        left: -50px

  &__container
    display: flex
    flex-direction: column
    flex: 1
    height: 100%
    width: 100%
    align-items: flex-start
    justify-content: center

  &__row
    display: flex
    flex-direction: row
    flex: 1
    max-height: 500px
    min-height: 360px
    margin-top: -60px

    &:not(:last-child)
      margin-bottom: 60px

    .story:first-child
      flex: 1.2
      padding-top: 140px
      max-height: 390px

    .story:nth-child(2)
      flex: 1
      padding-top: 27px
      padding-bottom: 34px
      max-height: 400px

      +mediaMaxHeight(720)
        padding-top: 40px

      +mediaMaxHeight(685)
        padding-top: 50px

    .story:last-child
      flex: 1.1
      padding-top: 94px
      padding-bottom: 55px
      max-height: 430px

.story
  display: flex
  flex-direction: column
  flex: 1
  margin: 0 $spaceBetweenNews*1px

  &__inner
    display: flex
    flex: 1
    flex-direction: column

    &:hover
      .story__image
        transform: scale($imageScaleCoefficient)

      .story__title
        padding-left: $storyBeforelineWidth + $storyAfterlinePadding + 10px

        &:after
          border-left-width: $storyBeforelineWidth + 10px

  &__wrapper, &__image_wrapper
    display: flex
    position: relative
    flex: 1

  &__image_wrapper
    overflow: hidden

  &__image
    position: relative
    flex: 1
    background: black center
    background-size: cover
    transition: transform $ease $transitionSpeed

  &__title
    @extend .font-bravo-rg
    @extend .size-big

    height: 0
    position: relative
    padding: 10px $storyBeforelineWidth + 5px 10px $storyBeforelineWidth + $storyAfterlinePadding
    line-height: $storyLineHeight
    color: $newsCardTitleColor
    transition: all $ease $transitionSpeed
    //overflow: hidden
    //text-overflow: ellipsis
    //max-height: 3em
    //word-break: normal

    //&:before
    //  content: '\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0\00a0'

    &:after
      content: ''
      position: absolute
      top: $storyLineHeight*4/5
      left: 0
      border-left: $storyBeforelineWidth solid $newsCardTitleColor
      width: 1px
      height: 1px
      transition: all $ease $transitionSpeed

  &__date
    color: $colorGreen

    &_day
      @extend .font-bravo-rg
      font-size: 5rem

      position: absolute
      left: -15px
      top: -36px

      transform: rotate(-90deg)

    &_rest
      @extend .font-pt-sans
      @extend .size-normal

      position: absolute
      top: -25px
      left: 50px