.b-menupage
  display: flex
  flex-direction: column
  width: 100%
  height: 100%
  padding: 1rem 0

  &__inner
    padding: 3.5rem 2rem 0
  //+rmin(1700)

  +rmin(600)
    &__back
      display: none

  +r(600)
    +selectContainerMobileView
    flex-direction: column

    &__inner
      padding-top: 0

    &__back
      padding-left: $paddingWrapperSide

    .menu_select__nav
      +font-size-block($sizeNormal3)

  .center-mobile
    padding-left: $paddingWrapperSide

  &__wrapper
    flex: 1
    display: flex
    justify-content: stretch
    padding: $paddingWrapperVertical 0

  &__letter
    &_y
      left: -130px
      top: 17%

    &_o
      right: -130px
      bottom: 17%

    &_o2
      right: -130px
      bottom: 17%

  +generate-breakpoints((br-tab: 700, br-wide: 0))

  +r(1170)
    padding: 0 0 3rem

  +r(768)
    max-width: initial !important
    +categoriesMobileView()

    &__wrapper
      padding: 0
      flex-direction: column

    &__letter
      &_o
        left: 0
        top: 0
        transform: translate(-50%, -50%)

      &_o2
        left: 100%
        top: calc(100% - 8rem)
        transform: translate(-50%, -60%)
