extends shared/_errorpage

block append vars
  -
    var title = "404"

block errorcode
  | 404

block errortext
  | Что то пошло не так... Страница не найдена. #[br]Вернуться на&nbsp;
  a(href="index.html#home").error_page__link
    | главную
  | &nbsp;или перести в&nbsp;
  a(href="index.html#menu").error_page__link
    | меню
