include ../shared/_mixins

mixin contactAddress(address, time, phone)
  .b-address
    .icon-geo.b-address__icon
    .b-address__content
      span.b-address__place= address
      span.b-address__time= time
      a(href=`tel:${phone}`).b-address__phone= phone


.container.justifyContentStart.b-contactspage.root-block
  .b-contactspage__inner.container_hor
    .container__item.b-contactspage__map
      .b-contactspage__map_inner#map
    .b-contactspage__content.container.container__item.alignItemsCenter
      .b-contactspage__content_inner.container_ver.layout__offset
        h2.center-mobile(js-nav-anchor) Контакты
        span.b-contactspage__descr Модный Нью-Йоркский стиль, более урбанистический, но с привычными чистыми линиями.

        .b-contactspage__addresses
          +contactAddress(
          "Москва, Рожественский бульвар, д.1, ТЦ Центральный Рынок",
          "Ежедневно с 10:00 до 23:00",
          "+7 (495) 556-65-87"
          )

          +contactAddress(
          "Москва, ул. Вавилова, д. 64/1, стр.1, Черёмнский рынок",
          "Ежедневно с 10:00 до 23:00",
          "+7 (495) 556-65-87"
          )
        .b-contactspage__socials
          +twitter
          +facebook
          +vk
          +instagram
