// FOOTER :: START
footer.footer#footer
  .container
    .container_hor.layout__offset.footer__wrapper
      p.font-lato.size-small.weight-light
        | Copyright © 2017 TOKIOSUSHIBAR. All rights reserved
      .footer__made
        .icon-made
        //+icon('ico-made')


// FOOTER :: END
