// FOOTER
footer#footer.b-footer.root-block
  .container.b-footer__inner
    .b-footer__bottom
      span.size-smallest Copyright © 2017 TOKIOSUSHIBAR. All rights reserved
      .b-footer__made
        a(href="https://flat12.ru" target="_blank")
          include ../../icons/made.svg
