// FOOTER BIG
footer#footer.b-footer.root-block.b-footer--big
  .container.b-footer__inner
    .b-footer__top
      .b-footer__socials
        a.twitter.social(href='http://twitter.com', target='_blank')
        a.facebook.social(href='http://fb.com', target='_blank')
        a.vk.social(href='http://vk.com', target='_blank')
        a.instagram.social(href='http://instagram.com', target='_blank')
      .b-footer__logo
        a(href='homepage.html#main')
          .icon-logo_no_bg.b-break-black
          .icon-tokio-icon.b-tab.b-mob
      .b-footer__reserve
        a(js-modal-invoker='modal-reserve')
          .icon-reserve-white.b-tab.b-break-black
          .icon-reserve-mobile.b-mob
    .b-footer__bottom
      span.size-smallest Copyright © 2017 TOKIOSUSHIBAR. All rights reserved
      .b-footer__made
        a(href="https://flat12.ru" target="_blank")
          include ../../icons/made.svg
