// FOOTER :: START
footer.footer
  .container
    .container_hor.footer__wrapper
      p.footer__copyright
        | Copyright © 2017 TOKIOSUSHIBAR. All rights reserved
      .footer__made
        .icon-made
        //+icon('ico-made')


// FOOTER :: END
