include ../shared/_mixins

// HEADER :: START
header.header
  .container
    .container_hor.layout__offset.header__wrapper
      nav.header__nav
        -
          var navigation = [
          ["Меню", "menu"],
          ["О нас", "about"],
          ["Новости", "news"],
          ["Контакты", "contacts"],
          ]
        each navItem in navigation
          +anchor(href=navItem[1] + ".html").header__nav_item= navItem[0]
      .header__logo
        +anchor(href="index.html")
          .icon-logo
        //+icon('ico-logo')
      .header__reserve
        +anchor()
          .icon-reserve
          //+icon('ico-reserve')

// HEADER :: END
