// HEADER
header#header.b-header.root-block
  .container.layout__offset.b-header__wrapper
    nav.b-header__nav
      a.size-smallest.b-header__nav_item(href='index.html#menu', js-fullpage-link='menu') Меню
      a.size-smallest.b-header__nav_item(href='index.html#about', js-fullpage-link='about') О нас
      a.size-smallest.b-header__nav_item(href='index.html#news', js-fullpage-link='news') Новости
      a.size-smallest.b-header__nav_item(href='index.html#contacts', js-fullpage-link='contacts') Контакты
    a.hamburger-btn.hidden(js-modal-invoker='mobile-nav')
    .b-header__logo
      a(href='index.html#home', js-fullpage-link='home')
        .icon-logo.b-normal
        .icon-tokio-icon.b-tab.b-mob
    .b-header__reserve
      a(js-modal-invoker='modal-reserve')
        .icon-reserve.b-normal
        .icon-reserve-white.b-tab
        .icon-reserve-mobile.b-mob
