include ../shared/_mixins

// HEADER :: START

mixin header(absoluteLinks)
  - absoluteLinks = absoluteLinks || false

  header.header#header
    .container
      .container_hor.layout__offset.header__wrapper
        nav.header__nav
          -
            var navigation = [
            ['Меню', 'menu'],
            ['О нас', 'about'],
            ['Новости', 'news'],
            ['Контакты', 'contacts'],
            ]
          each navItem in navigation
            +anchor(
            href=absoluteLinks ? 'index.html#' + navItem[1] : null,
            class=!absoluteLinks ? 'fullpage__anchor' : '',
            data-href=!absoluteLinks ? navItem[1] : null).header__nav_item= navItem[0]
        .header__logo
          +anchor(
          href=absoluteLinks ? 'index.html#home' : null,
          class=!absoluteLinks ? 'fullpage__anchor' : '',
          data-href=!absoluteLinks ? 'home' : null)
            .icon-logo
        .header__reserve
          +anchor()
            .icon-reserve
            //+icon('ico-reserve')

// HEADER :: END
