include ../shared/_mixins

// HEADER :: START

mixin header(absoluteLinks)
  - absoluteLinks = absoluteLinks || false

  header.header#header
    .container.layout__offset.header__wrapper
        nav.header__nav
          -
            var navigation = [
            ['Меню', 'menu'],
            ['О нас', 'about'],
            ['Новости', 'news'],
            ['Контакты', 'contacts'],
            ]
          each navItem in navigation
            +anchor(
              href='index.html#' + navItem[1]).header__nav_item= navItem[0]
        .header__logo
          +anchor(href='index.html#home')
            .icon-logo
        .header__reserve
          +anchor(js-modal-invoker="modal-reserve")
            .icon-reserve
            //+icon('ico-reserve')

// HEADER :: END
