include ../elements/_fish-pager

.slide__background(style="background-image: url('img/slides/slide_1-main_bg.png')")
.container_ver.slide__inner.main_page
  h1.main_page__h1 Ресторан паназиатской кухни нового формата
  p.main_page__text Суши бары работают на исключительно свежем и премиальном сырье. Еда не только вкусная, и что крайне важно для нашей целевой аудитории, здоровая и не тяжелая.
