---
title: 404
---
extends shared/_layout
block content

  .container.header-offset
    .container_ver.justifyContentCenter.alignItemsCenter
      h1.error_page__h1
        | 404
      p.error_page__text
        | Что то пошло не так... Страница не найдена. 
        br
        | Вернуться на 
        a.error_page__link(href='homepage.html#home') главную
        |  или перести в 
        a.error_page__link(href='homepage.html#menu') меню
