extends shared/_outerpage
include shared/_mixins

block append vars
  -
    var title = "Соглашение"

block content
  .container.layout__vertical_offset.layout__offset
    .container_ver.layout__vertical_offset.agreement_page
      h2.agreement_page__title Соглашение об обработке персональных данных
      span Соглашение об обработке персональных данных (далее по тексту — Соглашение) является публичной офертой.
      br
      em Термины, применяемые в настоящем Соглашении:
      br
      div
        b Сайт&nbsp;
        span — это совокупность текстов, графических элементов, дизайна, изображений, программного кода, фото- и видеоматериалов и иных результатов интеллектуальной деятельности Администрации Сайта, содержащихся в сети Интернет под доменным именем&nbsp;
        +anchor(href="http://tokyosushibar.ru", target="_blank")
          | tokyosushibar.ru

      br

      div
        b Администрация Сайта&nbsp;
        span — это общества и лица, обладающие правами администрирования Сайта.

      br

      div
        b Пользователь&nbsp;
        span — это любое лицо, осуществившее вход на Сайт, заполнившее поля онлайн-форм на Сайте и принявшее условия настоящего Соглашения.

      br

      div
        b Персональные данные&nbsp;
        span — данные, указанные Пользователем в онлайн-формах Сайта (имя, адрес электронной почты, номер телефона, иные данные по усмотрению администрации сайта необходимые для оказания услуги, в которой нуждается либо может быть заинтересован пользователь).

      br

      div
        b Обработка персональных данных&nbsp;
        span — перечень действий с персональными данными Пользователя, заполнившего поля онлайн-форм: сбор, запись, систематизация, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передача (распространение, предоставление доступа), обезличивание, блокирование, удаление, уничтожение персональных данных Пользователя, отправившего запрос, передача по требованию суда, в т. ч., третьим лицам, с соблюдением мер, обеспечивающих защиту персональных данных от несанкционированного доступа.

      br

      div
        em Присоединяясь к настоящему Соглашению и оставляя свои данные на cайте&nbsp;
        +anchor(href="http://tokyosushibar.ru", target="_blank")= "tokyosushibar.ru"
        em &nbsp;(далее — cайт), путем заполнения полей форм онлайн-заявок, Пользователь:

      br

      ul
        li подтверждает, что все указанные им данные принадлежат лично ему,
        li подтверждает и признает, что им внимательно в полном объеме прочитано данное Соглашение и условия обработки Администрацией Сайта его персональных данных, указываемых им в полях онлайн-заявок, текст соглашения и условия обработки персональных данных ему понятны;
        li дает согласие на обработку Администрацией Сайта предоставляемых в составе информации персональных данных в целях заключения между ним и Администрацией Сайта настоящего Соглашения, а также его последующего исполнения;
        li выражает согласие с условиями обработки персональных данных без оговорок и ограничений, а именно с совершением Администрацией Сайта действий, предусмотренных п. 3 ч. 1 ст. 3 Федерального закона от 27.07.2006 N 152-ФЗ «О персональных данных», и подтверждает, что, давая такое согласие, он действует свободно, по своей волей и в своих интересах.

      br

      em Администрация Сайта использует персональные данные Пользователя для:

      br

      ul
        li обработки персональных данных, которые необходимы для предоставления и оказания услуг Пользователю;
        li создания, анализа и мониторинга клиентской базы;
        li информирования Пользователя о конкурсах и рекламных акциях;
        li рассылки новостей Сайта Пользователю;
        li информирования Пользователя о новых продуктах и услугах;
        li информирования об акциях и специальных предложениях;
        li уведомления Пользователя о различных событиях.
        li обработки запроса посетителя сайта

      br

      span Администрация Сайта вправе обрабатывать персональные данные посредством внесения их в электронные базы данных, включения в списки (реестры) и внутренние отчетные формы. Обработка персональных данных может быть, как автоматизированная, так и без использования средств автоматизации. Администрация Сайта вправе передавать персональные данные полученные от посетителя сайта третьим лицам без получения предварительного и последующего согласия на это, если это необходимо для оказания услуги и удовлетворения возможной потребности посетителя сайта в такой услуге как в ее качестве, так и в сроках ее исполнения.

      br

      span Принимая условия настоящего Соглашения, Пользователь также соглашается с получением информационной и(или) рекламной рассылки по телефону (в формате смс-сообщений) и/или по электронной почте от Администрации Сайта.

      br

      span Соглашение действует бессрочно с момента предоставления Пользователем своих данных и может быть отозвано Пользователем в любой момент путем направления Пользователем соответствующего распоряжения или заявления в простой письменной форме.

      br

      span Администрация Сайта имеет право вносить изменения в настоящее Соглашение. При внесении изменений в актуальной редакции указывается дата последнего обновления. Новая редакция Соглашения вступает в силу с момента ее размещения, если иное не предусмотрено новой редакцией Соглашения.

      br

      div
        span Действующая редакция Соглашения находится на Сайте на странице по адресу:&nbsp;
        +anchor(href="www.tokyosushibar.ru/terms.html")
          |www.tokyosushibar.ru/terms.html
      br
      span К настоящему Соглашению и отношениям между Пользователем и Администрацией Сайта, возникающим в связи с применением Соглашения, подлежит применению право Российской Федерации.