extends shared/_outerpage
include shared/_mixins

block append vars
  -
    var title = "Соглашение"

block content
  .container.layout__vertical_offset.layout__offset
    .container_ver.agreement_page
      h1.agreement_page__title Соглашение об обработке персональных данных
      span Соглашение об обработке персональных данных (далее по тексту — Соглашение) является публичной офертой.
      br
      h4 Термины, применяемые в настоящем Соглашении:
      div
        b Сайт
        span — это совокупность текстов, графических элементов, дизайна, изображений, программного кода, фото- и видеоматериалов и иных результатов интеллектуальной деятельности Администрации Сайта, содержащихся в сети Интернет под доменным именем tokyosushibar.ru