---
title: All news
---
extends shared/_layout
block content

  .container.news_page.header-offset
    .container_ver.layout__offset
      .layout__vertical_offset
        svg.ico.icon-y-letter.background_letter.news_page__letter_y
          use(xlink:href='img/sprite.svg#icon-y-letter')
        svg.ico.icon-o-letter.background_letter.news_page__letter_o
          use(xlink:href='img/sprite.svg#icon-o-letter')
        .news__container
          h1 Последние новости
          
          // first row
          .b-newspage__row
            a.b-story.root-block(href='story_inner.html')
              // # at the end is required to avoid fullpage bug
              .b-story__inner
                .b-story__wrapper
                  .b-story__image
                    .b-story__image_img(style="background-image: url('img/news_1.jpeg');")
                      .b-story__image_filter
                  .b-corner__date.root-block
                    .b-corner__date_day 14
                    .b-corner__date_rest Декабрь, 2017
                span.b-story__title Новогодние корпоративы в сети BB Grill
            a.b-story.root-block(href='story_inner.html')
              // # at the end is required to avoid fullpage bug
              .b-story__inner
                .b-story__wrapper
                  .b-story__image
                    .b-story__image_img(style="background-image: url('img/news_2.jpeg');")
                      .b-story__image_filter
                  .b-corner__date.root-block
                    .b-corner__date_day 04
                    .b-corner__date_rest Декабрь, 2017
                span.b-story__title Новогоднее меню в Tokio
            a.b-story.root-block(href='story_inner.html')
              // # at the end is required to avoid fullpage bug
              .b-story__inner
                .b-story__wrapper
                  .b-story__image
                    .b-story__image_img(style="background-image: url('img/news_3.jpeg');")
                      .b-story__image_filter
                  .b-corner__date.root-block
                    .b-corner__date_day 19
                    .b-corner__date_rest Ноябрь, 2017
                span.b-story__title Новогоднее меню в Tokio
          //row 
          .b-newspage__row
            a.b-story.root-block(href='story_inner.html')
              // # at the end is required to avoid fullpage bug
              .b-story__inner
                .b-story__wrapper
                  .b-story__image
                    .b-story__image_img(style="background-image: url('img/news_1.jpeg');")
                      .b-story__image_filter
                  .b-corner__date.root-block
                    .b-corner__date_day 14
                    .b-corner__date_rest Декабрь, 2017
                span.b-story__title Новогодние корпоративы в сети BB Grill
            a.b-story.root-block(href='story_inner.html')
              // # at the end is required to avoid fullpage bug
              .b-story__inner
                .b-story__wrapper
                  .b-story__image
                    .b-story__image_img(style="background-image: url('img/news_2.jpeg');")
                      .b-story__image_filter
                  .b-corner__date.root-block
                    .b-corner__date_day 04
                    .b-corner__date_rest Декабрь, 2017
                span.b-story__title Новогоднее меню в Tokio
            a.b-story.root-block(href='story_inner.html')
              // # at the end is required to avoid fullpage bug
              .b-story__inner
                .b-story__wrapper
                  .b-story__image
                    .b-story__image_img(style="background-image: url('img/news_3.jpeg');")
                      .b-story__image_filter
                  .b-corner__date.root-block
                    .b-corner__date_day 19
                    .b-corner__date_rest Ноябрь, 2017
                span.b-story__title Новогоднее меню в Tokio
        .b-newspage__button_wrapper
          a.btn(href='all_news.html')
            .btn_fill
            .btn_content
              | Все новости
        
