---
title: All news
---
extends shared/_layout
block content

  .container.news_page.header-offset
    .container_ver.layout__offset
      .layout__vertical_offset
        svg.ico.icon-y-letter.background_letter.news_page__letter_y
          use(xlink:href='img/sprite.svg#icon-y-letter')
        svg.ico.icon-o-letter.background_letter.news_page__letter_o
          use(xlink:href='img/sprite.svg#icon-o-letter')
        .news__container
          h1 Последние новости
          .news__row
            a.story(href='story_inner.html')
              // # at the end is required to avoid fullpage bug
              .story__inner
                .story__wrapper
                  .story__image_wrapper
                    .story__image(style="background-image: url('img/news_1.jpeg');")
                      .story__image__filter
                  .b-corner__date.root-block
                    .b-corner__date_day 14
                    .b-corner__date_rest Декабрь, 2017
                span.story__title Новогодние корпоративы в сети BB Grill
            a.story(href='story_inner.html')
              // # at the end is required to avoid fullpage bug
              .story__inner
                .story__wrapper
                  .story__image_wrapper
                    .story__image(style="background-image: url('img/news_2.jpeg');")
                      .story__image__filter
                  .b-corner__date.root-block
                    .b-corner__date_day 04
                    .b-corner__date_rest Декабрь, 2017
                span.story__title Новогоднее меню в Tokio
            a.story(href='story_inner.html')
              // # at the end is required to avoid fullpage bug
              .story__inner
                .story__wrapper
                  .story__image_wrapper
                    .story__image(style="background-image: url('img/news_3.jpeg');")
                      .story__image__filter
                  .b-corner__date.root-block
                    .b-corner__date_day 19
                    .b-corner__date_rest Ноябрь, 2017
                span.story__title Новогоднее меню в Tokio
          .news__row
            a.story(href='story_inner.html')
              // # at the end is required to avoid fullpage bug
              .story__inner
                .story__wrapper
                  .story__image_wrapper
                    .story__image(style="background-image: url('img/news_1.jpeg');")
                      .story__image__filter
                  .b-corner__date.root-block
                    .b-corner__date_day 14
                    .b-corner__date_rest Декабрь, 2017
                span.story__title Новогодние корпоративы в сети BB Grill
            a.story(href='story_inner.html')
              // # at the end is required to avoid fullpage bug
              .story__inner
                .story__wrapper
                  .story__image_wrapper
                    .story__image(style="background-image: url('img/news_2.jpeg');")
                      .story__image__filter
                  .b-corner__date.root-block
                    .b-corner__date_day 04
                    .b-corner__date_rest Декабрь, 2017
                span.story__title Новогоднее меню в Tokio
            a.story(href='story_inner.html')
              // # at the end is required to avoid fullpage bug
              .story__inner
                .story__wrapper
                  .story__image_wrapper
                    .story__image(style="background-image: url('img/news_3.jpeg');")
                      .story__image__filter
                  .b-corner__date.root-block
                    .b-corner__date_day 19
                    .b-corner__date_rest Ноябрь, 2017
                span.story__title Новогоднее меню в Tokio
        .news__button_wrapper
          .container_hor.justifyContentCenter
            a.btn(href='#')
              .btn_fill
              .btn_content
                | Показать еще
