---
title: All elements
outClass: homepage
---
extends shared/_layout

block header
block footer

block head
  style(type="text/css").
    .list > * {
      margin: 10px 0;
    }



block content
  .list(style="display: block; width: 100%; height: 100%; padding: 20px")
    +button()
      | Кнопка
    +twitter
    +facebook
    +vk
    +instagram