---
title: All elements
outClass: homepage
---
extends shared/_layout

block header
block footer

block content
  .list(style="display: block; width: 100%; height: 100%; padding: 20px")
    +button()
      | Кнопка