---
title: Gallery
---
extends shared/_layout
block content

  .container.gallery.header-offset
    .container_ver.layout__offset.gallery__inner
      // +icon("icon-y-letter").background_letter.gallery_page__letter_y
      // +icon("icon-o-letter").background_letter.gallery_page__letter_o
      .gallery__container
        // Add barba back
        a.btn-back.gallery__back_mob(href='#')
          .icon-back
          |  назад
        h2.gallery__heading Фотогалерея
        .gallery__wrapper
          .gallery__row
            .left__side
              .gallery__img
                img(src='img/gallery/3.jpeg', alt='?')
              .gallery__img
                img(src='img/gallery/4.jpeg', alt='?')
            .right__side
              .gallery__img
                img(src='img/gallery/5.jpeg', alt='?')
              .right__side_inner
                .gallery__img
                  img(src='img/gallery/6.jpeg', alt='?')
                .gallery__img
                  img(src='img/gallery/7.jpeg', alt='?')
      .gallery__button_wrapper
        //
          .container_hor.justifyContentCenter
          +button
          | Показать еще
