---
title: Главная
bodyClass: homepage
---
extends shared/_layout

block footer
  include components/_footer
  
block content
  
  // FULLPAGE CONTAINER
  #fullpage.fullpage-wrapper
    div
      section.fp-sect.active(data-anchor='home')
        // replace with video
        .fp-sect__background_video
          video(loop='', muted='', autoplay='', playsinline='', data-keepplaying='', poster='img/Running-Sushi.jpg')
            source(src='media/Running-Sushi.mp4', type='video/mp4')
            source(src='media/Running-Sushi.webm', type='video/webm')
          .fp-sect__background_dark_overlay
        .fp-sect__inner.fish__pagination.b-mainpage.mobile-chrome-fix-height
          .container.b-mainpage__slider(js-main-page-slider='')
            .slick-slide
              h1.bigger_h1 Ресторан паназиатской кухни нового формата
              p.size-normal.white-transp
                | Суши бары работают на исключительно свежем и премиальном сырье. Еда не только вкусная, и что крайне важно для нашей целевой аудитории, здоровая и не тяжелая.
            .slick-slide
              h1.bigger_h1 Lorem Ipsum
              p.size-normal.white-transp
                | это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
            .slick-slide
              h1.bigger_h1 Slide 3
              p.size-normal.white-transp
                | Mauris dolor neque, mollis at volutpat vel, tempor at massa. Donec ut diam mi. Integer sed eros nisl. Sed at sapien viverra, fringilla eros ultrices, cursus magna. Ut sit amet blandit arcu. Sed sed est sed sapien posuere porta in.
            .slick-slide
              h1.bigger_h1 Slide 4
              p.size-normal.white-transp
                | Maecenas interdum consequat tellus, eget posuere mauris auctor pulvinar. Etiam at pharetra felis. Donec lobortis malesuada sem. Aliquam risus justo, interdum volutpat porta vel, posuere vel dolor. Phasellus volutpat ligula metus, id rutrum nulla dignissim vel. Nulla tempor pretium elit, ullamcorper aliquet metus aliquam ac. Vivamus sodales molestie augue aliquet egestas. Etiam malesuada mi sapien, non viverra magna consectetur a. Aenean fermentum efficitur vestibulum. Morbi eget dictum enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.
            .slick-slide
              h1.bigger_h1 Slide 5
              p.size-normal.white-transp
                | Praesent vel risus porta, iaculis mauris sed, venenatis sapien. Phasellus scelerisque nibh lacus, ut fermentum mauris pretium eget. Donec quis varius augue. Praesent eleifend turpis et lacus efficitur ultricies. Donec iaculis urna ut est interdum fringilla. Nunc commodo magna id ipsum auctor consequat. Sed sapien nunc, ullamcorper eget ultrices sed, posuere nec metus. Nam sagittis massa at rhoncus semper. Cras imperdiet metus at suscipit interdum. Nunc vehicula efficitur erat, et.
            .slick-slide
              h1.bigger_h1 Slide 6
              p.size-normal.white-transp
                | Donec iaculis, risus vestibulum condimentum euismod, metus sapien bibendum elit, vel tempus sem orci in enim. In hac habitasse platea dictumst. Cras molestie vulputate laoreet. Praesent vel volutpat felis. Praesent interdum condimentum blandit. Sed eu vestibulum nibh, vitae eleifend quam. Pellentesque suscipit suscipit massa sit amet congue. Nullam lacinia, mauris et semper gravida, purus purus vulputate justo, non placerat dolor mauris ac mauris. Proin a blandit lectus, molestie scelerisque nisl.
      
      // ABOUT
      section.fp-sect(data-anchor='about')
        .layout__offset.b-aboutpage.root-block
          .container.b-aboutpage__wrapper
            .photos.container__item.b-aboutpage__photos
              svg.ico.icon-y-letter.background_letter.photos__letter.photos__letter-y
                use(xlink:href='img/sprite.svg#icon-y-letter')
              svg.ico.icon-o-letter.background_letter.photos__letter.photos__letter-o
                use(xlink:href='img/sprite.svg#icon-o-letter')
              .photos__background(style='background: #231F20;')
              // Both photos
              .photos__photo.photos__photo_1
                .crop
                  .image_within_div(style='background-image: url(img/slide_2-osnovnoy_zal.jpeg) !important;')
              .photos__photo.photos__photo_2
                .crop
                  .image_within_div(style='background-image: url(img/slide_2-pavel_li.jpeg) !important;')
              include components/_animated-logo
              svg.ico.icon-tokio-k-symbol.photos__label.photos__label_k
                use(xlink:href='img/sprite.svg#icon-tokio-k-symbol')
            
            
            .container__item.b-aboutpage__descr
              .b-note
                h2.center-mobile(js-nav-anchor='') Концепция заведения
                p
                  | Идея проекта заключается в создании нового формата качественных и модных суши баров.
                  br
                  br
                  | Суши бары работают на исключительно свежем и премиальном сырье. Еда не только вкусная, и что крайне важно для нашей целевой аудитории, здоровая и не тяжелая.
                br
                // block is required to handle passed blocks
                .caption
                  .heading.caption__text
                    // Check if required
                    | Совладелец и бренд-шеф проекта
                    br
                    | Павел ли
                // Don't forget to clear to avoid unwanted block reusing
                // //////////////////////////
                .note__button_wrapper
                  a.btn(href='gallery.html')
                    .btn_fill
                    .btn_content
                      | Фотогалерея
      // MENU SECTION
      section.fp-sect(data-anchor='menu')
        .container.b-menupage
          .layout__offset.b-menupage__wrapper
            svg.ico.icon-y-letter.background_letter.b-menupage__letter_y.br-wide
              use(xlink:href='img/sprite.svg#icon-y-letter')
            svg.ico.icon-o-letter.background_letter.b-menupage__letter_o
              use(xlink:href='img/sprite.svg#icon-o-letter')
            svg.ico.icon-o-letter.background_letter.b-menupage__letter_o2
              use(xlink:href='img/sprite.svg#icon-o-letter')
            h2.br-tab.center-mobile(js-nav-anchor='') Наше меню
            .b-categories.root-block
              a.b-category(href='menu.html')
                span.b-category__title Роллы
                .b-category__image_wrapper
                  .b-category__image(style='background-image: url(img/menu_roll.jpeg);')
                    .b-category__filter
              a.b-category(href='menu.html')
                span.b-category__title Сашими
                .b-category__image_wrapper
                  .b-category__image(style='background-image: url(img/menu_sashimi.jpeg);')
                    .b-category__filter
              a.b-category(href='menu.html')
                span.b-category__title Супы
                .b-category__image_wrapper
                  .b-category__image(style='background-image: url(img/menu_soup.jpeg);')
                    .b-category__filter
              a.b-category(href='menu.html')
                span.b-category__title Горячее
                .b-category__image_wrapper
                  .b-category__image(style='background-image: url(img/menu_hot.jpeg);')
                    .b-category__filter
              a.b-category(href='menu.html')
                span.b-category__title Холодное
                .b-category__image_wrapper
                  .b-category__image(style='background-image: url(img/menu_cold.jpeg);')
                    .b-category__filter
              a.b-category(href='menu.html')
                span.b-category__title Напитки
                .b-category__image_wrapper
                  .b-category__image(style='background-image: url(img/menu_drinks.jpeg);')
                    .b-category__filter
      
      // NEWS
      section.fp-sect(data-anchor='news')
        .container.b-newspage.root-block
          .container_ver.layout__offset.b-newspage__wrapper
            // +icon("icon-y-letter").background_letter.b-newspage__letter_y
            // +icon("icon-o-letter").background_letter.b-newspage__letter_o
            .b-newspage__container
              h2.center-mobile(js-nav-anchor='') Последние новости
              .b-newspage__row
                a.b-story.root-block(href='story_inner.html')
                  // # at the end is required to avoid fullpage bug
                  .b-story__inner
                    .b-story__wrapper
                      .b-story__image
                        .b-story__image_img(style="background-image: url('img/news_1.jpeg');")
                          .b-story__image_filter
                      .b-corner__date.root-block
                        .b-corner__date_day 14
                        .b-corner__date_rest Декабрь, 2017
                    span.b-story__title Новогодние корпоративы в сети BB Grill
                a.b-story.root-block(href='story_inner.html')
                  // # at the end is required to avoid fullpage bug
                  .b-story__inner
                    .b-story__wrapper
                      .b-story__image
                        .b-story__image_img(style="background-image: url('img/news_2.jpeg');")
                          .b-story__image_filter
                      .b-corner__date.root-block
                        .b-corner__date_day 04
                        .b-corner__date_rest Декабрь, 2017
                    span.b-story__title Новогоднее меню в Tokio
                a.b-story.root-block(href='story_inner.html')
                  // # at the end is required to avoid fullpage bug
                  .b-story__inner
                    .b-story__wrapper
                      .b-story__image
                        .b-story__image_img(style="background-image: url('img/news_3.jpeg');")
                          .b-story__image_filter
                      .b-corner__date.root-block
                        .b-corner__date_day 19
                        .b-corner__date_rest Ноябрь, 2017
                    span.b-story__title Новогоднее меню в Tokio
            .b-newspage__button_wrapper
              a.btn(href='all_news.html')
                .btn_fill
                .btn_content
                  | Все новости
      
      // CONTACTS
      section.fp-sect(data-anchor='contacts')
        .container.justifyContentStart.b-contactspage.root-block
          .b-contactspage__inner.container_hor
            .container__item.b-contactspage__map
              #map.b-contactspage__map_inner
            .b-contactspage__content.container.container__item.alignItemsCenter
              .b-contactspage__content_inner.container_ver.layout__offset
                h2.center-mobile(js-nav-anchor='') Контакты
                span.b-contactspage__descr
                  | Модный Нью-Йоркский стиль, более урбанистический, но с привычными чистыми линиями.
                .b-contactspage__addresses
                  .b-address
                    .icon-geo.b-address__icon
                    .b-address__content
                      span.b-address__place Москва, Рожественский бульвар, д.1, ТЦ Центральный Рынок
                      span.b-address__time Ежедневно с 10:00 до 23:00
                      a.b-address__phone(href='tel:+7 (495) 556-65-87') +7 (495) 556-65-87
                  .b-address
                    .icon-geo.b-address__icon
                    .b-address__content
                      span.b-address__place Москва, ул. Вавилова, д. 64/1, стр.1, Черёмнский рынок
                      span.b-address__time Ежедневно с 10:00 до 23:00
                      a.b-address__phone(href='tel:+7 (495) 556-65-87') +7 (495) 556-65-87
                .b-contactspage__socials
                  a.twitter.social(href='http://twitter.com', target='_blank')
                    +icon('ico-social-twitter')
                  a.facebook.social(href='http://fb.com', target='_blank')
                    +icon('ico-social-fb')
                  a.vk.social(href='http://vk.com', target='_blank')
                    +icon('ico-social-vk')
                  a.instagram.social(href='http://instagram.com', target='_blank')
                    +icon('ico-social-insta')
                    
