extends shared/_basepage

block append vars
  -
    var title = "Главная"

block append content
  #fullpage
    div
      .fullpage__section.active
        include fullpage_components/_home
      .fullpage__section
        include fullpage_components/_about
      .fullpage__section
        include fullpage_components/_menu
      .fullpage__section
        include fullpage_components/_news
      .fullpage__section
        include fullpage_components/_contacts
    +fish#fullpage__pager