extends shared/_basepage

block append vars
  -
    var title = "Главная"

block append content
  #fullpage.fullpage-wrapper
    div
      section.fp-sect.active
        include fullpage_components/_home
      section.fp-sect
        include fullpage_components/_about
      section.fp-sect
        include fullpage_components/_menu
      section.fp-sect
        include fullpage_components/_news
      section.fp-sect
        include fullpage_components/_contacts