extends shared/_basepage

block append vars
  -
    var title = "Главная"

block content
  .page__background(style="background-image: url('img/slides/slide_1-main_bg.png')")
  .container.main_page
    .container_ver
      h1.main_page__h1 Ресторан паназиатской кухни нового формата
      p.main_page__text.font-size-normal.weight-medium
        | Суши бары работают на исключительно свежем и премиальном сырье. Еда не только вкусная, и что крайне важно для нашей целевой аудитории, здоровая и не тяжелая.
