---
title: Homepage title
outClass: homepage
---
extends shared/_layout
include elements/_photos

block content
  .slide#slide1
    include components/_slide-1

  .slide.slide__active#slide2
    include components/_slide-2

  .slide#slide3

  .slide#slide4

  .slide__pager