extends shared/_basepage

block append vars
  -
    var title = "Главная"

block append content
  #fullpage
    .fullpage__section.active
      include home
    .fullpage__section
      include about
    .fullpage__section
      include menu
    .fullpage__section
      include news
    .fullpage__section
      include contacts
