---
title: Menu
---
extends shared/_layout
block content

  .container.b-menupage.header-offset
    // Add barba back
    a.btn-back.b-menupage__back(href='#')
      .icon-back
    .container_hor.justifyContentCenter.b-menupage__inner
      .select_container.menu_select
        nav.menu_select__nav
          a.select_container-control.menu_select__nav_item(data-link='roll', data-img='img/menu/roll.jpeg') Роллы
          a.select_container-control.menu_select__nav_item(data-link='sashimi', data-img='img/menu/sashimi.jpeg') Сашими
          a.select_container-control.menu_select__nav_item(data-link='soup', data-img='img/menu/soup.jpeg') Супы
          a.select_container-control.menu_select__nav_item(data-link='hot', data-img='img/menu/hot.jpeg') Горячее
          a.select_container-control.menu_select__nav_item(data-link='cold', data-img='img/menu/cold.jpeg') Холодное
          a.select_container-control.menu_select__nav_item(data-link='drinks', data-img='img/menu/drinks.jpeg') Напитки
        .menu_select__bottom
          .menu_select__bottom_left
            .menu_select__content_wrapper
              .menu_select__content.select_container-block(data-id='roll')
                h3.select__title Роллы
                ul.menu_select__product_list
                  li.menu_select__product
                    .menu_select__product_heading Ацумари
                    .menu_select__product_description
                      .menu_select__product_content рис, нори, краб, сыр, яблоко. кунжут, соус терияки
                      .menu_select__product_info
                        .menu_select__product_price
                          span 398
                          span.currency  ₽
                        .menu_select__product_weight
                          span 278
                          span.unit  гр.
                  li.menu_select__product
                    .menu_select__product_heading Ацумари
                    .menu_select__product_description
                      .menu_select__product_content рис, нори, краб, сыр, яблоко. кунжут, соус терияки
                      .menu_select__product_info
                        .menu_select__product_price
                          span 398
                          span.currency  ₽
                        .menu_select__product_weight
                          span 278
                          span.unit  гр.
                  li.menu_select__product
                    .menu_select__product_heading Ацумари
                    .menu_select__product_description
                      .menu_select__product_content рис, нори, краб, сыр, яблоко. кунжут, соус терияки
                      .menu_select__product_info
                        .menu_select__product_price
                          span 398
                          span.currency  ₽
                        .menu_select__product_weight
                          span 278
                          span.unit  гр.
              .menu_select__content.select_container-block(data-id='sashimi')
                h3.select__title Сашими
                ul.menu_select__product_list
                  li.menu_select__product
                    .menu_select__product_heading Ацумари
                    .menu_select__product_description
                      .menu_select__product_content рис, нори, краб, сыр, яблоко. кунжут, соус терияки
                      .menu_select__product_info
                        .menu_select__product_price
                          span 398
                          span.currency  ₽
                        .menu_select__product_weight
                          span 278
                          span.unit  гр.
                  li.menu_select__product
                    .menu_select__product_heading Ацумари
                    .menu_select__product_description
                      .menu_select__product_content рис, нори, краб, сыр, яблоко. кунжут, соус терияки
                      .menu_select__product_info
                        .menu_select__product_price
                          span 398
                          span.currency  ₽
                        .menu_select__product_weight
                          span 278
                          span.unit  гр.
                  li.menu_select__product
                    .menu_select__product_heading Ацумари
                    .menu_select__product_description
                      .menu_select__product_content рис, нори, краб, сыр, яблоко. кунжут, соус терияки
                      .menu_select__product_info
                        .menu_select__product_price
                          span 398
                          span.currency  ₽
                        .menu_select__product_weight
                          span 278
                          span.unit  гр.
              .menu_select__content.select_container-block(data-id='soup')
                h3.select__title Супы
                ul.menu_select__product_list
                  li.menu_select__product
                    .menu_select__product_heading Ацумари
                    .menu_select__product_description
                      .menu_select__product_content рис, нори, краб, сыр, яблоко. кунжут, соус терияки
                      .menu_select__product_info
                        .menu_select__product_price
                          span 398
                          span.currency  ₽
                        .menu_select__product_weight
                          span 278
                          span.unit  гр.
                  li.menu_select__product
                    .menu_select__product_heading Ацумари
                    .menu_select__product_description
                      .menu_select__product_content рис, нори, краб, сыр, яблоко. кунжут, соус терияки
                      .menu_select__product_info
                        .menu_select__product_price
                          span 398
                          span.currency  ₽
                        .menu_select__product_weight
                          span 278
                          span.unit  гр.
                  li.menu_select__product
                    .menu_select__product_heading Ацумари
                    .menu_select__product_description
                      .menu_select__product_content рис, нори, краб, сыр, яблоко. кунжут, соус терияки
                      .menu_select__product_info
                        .menu_select__product_price
                          span 398
                          span.currency  ₽
                        .menu_select__product_weight
                          span 278
                          span.unit  гр.
                  li.menu_select__product
                    .menu_select__product_heading Ацумари
                    .menu_select__product_description
                      .menu_select__product_content рис, нори, краб, сыр, яблоко. кунжут, соус терияки
                      .menu_select__product_info
                        .menu_select__product_price
                          span 398
                          span.currency  ₽
                        .menu_select__product_weight
                          span 278
                          span.unit  гр.
              .menu_select__content.select_container-block(data-id='hot')
                h3.select__title Горячее
                ul.menu_select__product_list
                  li.menu_select__product
                    .menu_select__product_heading Ацумари
                    .menu_select__product_description
                      .menu_select__product_content рис, нори, краб, сыр, яблоко. кунжут, соус терияки
                      .menu_select__product_info
                        .menu_select__product_price
                          span 398
                          span.currency  ₽
                        .menu_select__product_weight
                          span 278
                          span.unit  гр.
                  li.menu_select__product
                    .menu_select__product_heading Ацумари
                    .menu_select__product_description
                      .menu_select__product_content рис, нори, краб, сыр, яблоко. кунжут, соус терияки
                      .menu_select__product_info
                        .menu_select__product_price
                          span 398
                          span.currency  ₽
                        .menu_select__product_weight
                          span 278
                          span.unit  гр.
                  li.menu_select__product
                    .menu_select__product_heading Ацумари
                    .menu_select__product_description
                      .menu_select__product_content рис, нори, краб, сыр, яблоко. кунжут, соус терияки
                      .menu_select__product_info
                        .menu_select__product_price
                          span 398
                          span.currency  ₽
                        .menu_select__product_weight
                          span 278
                          span.unit  гр.
              .menu_select__content.select_container-block(data-id='cold')
                h3.select__title Холодное
                ul.menu_select__product_list
                  li.menu_select__product
                    .menu_select__product_heading Ацумари
                    .menu_select__product_description
                      .menu_select__product_content рис, нори, краб, сыр, яблоко. кунжут, соус терияки
                      .menu_select__product_info
                        .menu_select__product_price
                          span 398
                          span.currency  ₽
                        .menu_select__product_weight
                          span 278
                          span.unit  гр.
              .menu_select__content.select_container-block(data-id='drinks')
                h3.select__title Напитки
                ul.menu_select__product_list
                  li.menu_select__product
                    .menu_select__product_heading Ацумари
                    .menu_select__product_description
                      .menu_select__product_content рис, нори, краб, сыр, яблоко. кунжут, соус терияки
                      .menu_select__product_info
                        .menu_select__product_price
                          span 398
                          span.currency  ₽
                        .menu_select__product_weight
                          span 278
                          span.unit  гр.
                  li.menu_select__product
                    .menu_select__product_heading Ацумари
                    .menu_select__product_description
                      .menu_select__product_content рис, нори, краб, сыр, яблоко. кунжут, соус терияки
                      .menu_select__product_info
                        .menu_select__product_price
                          span 398
                          span.currency  ₽
                        .menu_select__product_weight
                          span 278
                          span.unit  гр.
            a.btn(href='#')
              .btn_fill
              .btn_content
                | забронировать столик
          .menu_select__image
            .menu_select__image-frame(style="background-image: url('img/menu/roll.jpeg');")
              .menu_select__image-filter
            .menu_select__image_text Роллы
