mixin modal(id)
  .b-modal(id=id)&attributes(attributes)
    .b-modal__header
      a(href='index.html#home', js-fullpage-link='home', js-modal-closer='true')
        .icon-tokio-icon-black
    a(js-modal-closer='true').b-modal__close &times;

    .b-modal__wrapper
      block
