include ../shared/_input
include _modal-layout

+modal('modal-thanks')
  .b-modal__inner
    h2.b-modal__heading Спасибо!
    span.b-modal__descr Мы свяжемся с вами в ближайшее время для подтверждения заказа.
    +button(href="index.html#home", js-modal-closer="true")
      | На главную
  .b-modal__logo
    .icon-modal-fish-label
