include ../shared/_input

.b-modal#modal-thanks
  .b-modal__header
    .icon-tokio-icon-black
  +anchor(js-modal-closer="true").b-modal__close &times;

  .b-modal__inner
    h2.b-modal__heading Спасибо!
    span.b-modal__descr Мы свяжемся с вами в ближайшее время для подтверждения заказа.
    +button(href="index.html#home", js-modal-closer="true")
      | На главную
  .b-modal__logo
    .icon-modal-fish-label
