extends _outerpage

block append vars
  -
    var title = "Error page"

block content
  .container
    .container_ver.justifyContentCenter.alignItemsCenter
      h1.error_page__h1
        block errorcode
          | UNDEFINED CODE
      p.error_page__text
        block errortext
          | UNDEFINED TEXT