mixin select(opts, initialActive)
  - initialActive = initialActive || 0
  //opt = ["Text", "Value"]
  select(js-select)&attributes(attributes)
    each opt, index in opts
      if index === initialActive
        option(value=opt[1], selected, disabled)
          span= opt[0]
      else
        option(value=opt[1])= opt[0]

mixin inputWithIcon()
  .input_with_icon.form__field
    block
    label.input__icon&attributes(attributes)
