include _mixins

block vars
  -
    var title = "Undefined title"

doctype html
html(lang="en")
  head
    block head
      include _head

  body(class=bodyClass)
    // place where pjax bindings happen's
    #barba-wrapper
      block header
        include ../components/_header
        +header()

      // what should be changed with every pjax
      .page
        .page__content#fullpage
          block content

        block footer
          include ../components/_footer

      block scripts
        include _scripts
