include _mixins
doctype html
html(lang="en")
  head
    include _head

  body
    // place where pjax bindings happen's
    #barba-wrapper
      block header
        include ../components/_header
    
      // what should be changed with every pjax
      .page
        .page__content
          block content

        block footer
          include ../components/_footer-big
          
      block scripts
        include _scripts
      block modals
        include ../components/_modals
