include _mixins

doctype html
html(lang="en")
  head
    include _head
    block head

  body(class=bodyClass)
    #barba-wrapper
      block header
        include ../components/_header

      // place where pjax bindings happen's
      .page
        block content
      // what should be changed with every pjax

    block footer
      include ../components/_footer

    block scripts
      include _scripts
