mixin icon(name, modClass)
  - var svgSprite = 'img/sprite.svg'
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class="ico " + name + modClass)&attributes(attributes)
    use(xlink:href= svgSprite + '#' + name)

mixin anchor()
  if href == null
    a(href="#", onclick="return 0")&attributes(attributes)
      block
  else
    a()&attributes(attributes)
      block

mixin button()
  +anchor().btn&attributes(attributes)
    .btn_fill
    .btn_content
      block

mixin social(name)
  +anchor(class=name).social&attributes(attributes)
    block

mixin facebook()
  +social('facebook')&attributes(attributes)
    block

mixin twitter()
  +social('twitter')&attributes(attributes)
    block

mixin vk()
  +social('vk')&attributes(attributes)
    block

mixin instagram()
  +social('instagram')&attributes(attributes)
    block

mixin photos(src1, src2, bgColor)
  - bgColor = bgColor || "#231F20" // TODO: https://stackoverflow.com/a/41923423/6119618
  .photos&attributes(attributes)
    +icon("icon-y-letter").background_letter.photos__letter-y
    +icon("icon-o-letter").background_letter.photos__letter-o
    .photos__background(style="background: " + bgColor)
    img.photos__photo.photos__photo_1(src=src1)
    img.photos__photo.photos__photo_2(src=src2)
    +icon("icon-fish-sushi-wine").photos__label.photos__label_fish
    +icon("icon-tokio-k-symbol").photos__label.photos__label_k

mixin fish(active)
  - active = active || 0
  .fish&attributes(attributes)
    each val, index in [0,1,2,3,4,5]
      +anchor().fish__bone(class=index === active ? "fish__bone--active" : "")