- var svgSprite = 'img/sprite.svg'

mixin icon(name, modClass)
  if modClass == undefined
    - var modClass = ''
  else
    - var modClass = ' ' + modClass
  svg(class="ico " + name + modClass)&attributes(attributes)
    use(xlink:href= svgSprite + '#' + name)

mixin anchor()
  if href == null
    a(href="#", onclick="return 0")&attributes(attributes)
      block
  else
    a()&attributes(attributes)
      block

mixin button()
  +anchor().btn&attributes(attributes)
    .btn_fill
    .btn_content
      block