extends _layout
include ../modals/_mobile-nav

block header
  include ../components/_header
  +header(true)

block footer
  include ../components/_footer
  +footer(true)

block append modals
  +mobileNav(true)