@import ../layout/responsive

// FOOTER
.b-footer

  &.root-block
    +font-size-block($sizeSmallest)

  $blackFooterBorder: 1px solid $colorGray2

  position: relative
  height: $footerNormalHeight
  z-index: $footerZIndex
  color: $colorGray
  background: $footerBackground

  &--fixed
    position: fixed
    bottom: 0
    left: 0
    right: 0

  @at-root :not(#fullpage) .footer-offset
    padding-bottom: $footerNormalHeight

  @at-root .fullpage-wrapper:not(.fullpage-active)
    .fp-sect__inner
      padding-bottom: $footerNormalHeight

      +r(800)
        padding-bottom: $footerNormalHeight * 2

  &--big
    position: relative
    background: $bigFooterBackground
    display: flex
    flex-direction: column
    flex: none
    align-items: center
    justify-content: center
    height: auto

  &__inner
    display: flex
    flex-direction: column
    width: 100%
    @extend .layout__offset

  &__socials
    display: flex
    flex-direction: row
    align-items: center

    .social
      background-color: $colorGray3

      &:hover
        background-color: $colorGray2

      &:not(:last-child)
        margin-right: 20px

  &__reserve
    transform-origin: right

  &__logo, &__reserve
    transform: scale(0.7)
  //zoom: 0.7

  &__top, &__bottom
    display: flex
    flex-direction: row
    align-items: center
    justify-content: space-between

  &__top
    padding-bottom: 10px
    border-bottom: $blackFooterBorder

  &__bottom
    padding-top: 15px
    padding-bottom: 15px

  // .footer

  +generate-breakpoints((b-mob: 580, b-tab: 745, b-break-black: 0))

  +r(745)
    &__top
      flex-wrap: wrap
      justify-content: space-between

    &__socials
      flex-grow: 1
      flex-shrink: 0
      flex-basis: 100%
      order: 3
      justify-content: center
      padding: 2rem 0
      border-top: $blackFooterBorder

    &__logo, &__reserve
      flex-grow: 1
      flex-basis: 50%
      flex-shrink: 0
      display: flex
      padding: 2rem 0
      transform: initial

    &__logo
      justify-content: flex-start

    &__reserve
      justify-content: flex-end

  +r(550)
    height: auto

    &__top
      justify-content: center

    &__bottom
      padding: 1.4rem 0
      flex-direction: column

      & > *:not(:last-child)
        margin-bottom: 10px
