// FOOTER
.footer
  +font_Lato()
  font-size: 0.8em
  color: $colorGray
  background: $footerBackground

  &__wrapper
    padding-top: 30px
    padding-bottom: 30px
    justify-content: space-between

  &__copyright


  &__made
