.header
  position: fixed
  top: 0
  left: 0
  right: 0
  height: $headerNormalHeight

  @at-root :not(#fullpage) .header-offset
    padding-top: $headerNormalHeight

  @extend .font-pt-sans
  @extend .weight-regular
  @extend .size-normal3

  color: $colorBlack
  background: $headerBackground

  &__wrapper
    align-items: center
    margin-bottom: -10px
    height: 100%
    display: flex

  &__nav
    flex: 1
    white-space: nowrap
    z-index: $defaultZIndex + 1

    &_item
      color: $navItemColor
      transition: color $ease $transitionSpeed
      display: inline-block
      margin: 0 25px 0 0

      &:hover
        color: $navItemHoverColor

  &__logo
    flex: 0
    //transform-origin: top
    transform: scale(0.8)
    //zoom: 0.8
    // TODO: Temp hack
    position: relative
    margin-bottom: -15px
    z-index: $defaultZIndex - 1
    display: flex
    align-items: center
    justify-content: center

  &__reserve
    transform-origin: right
    transform: scale(0.7)
    //zoom: 0.7
    // FIXME: Temp hack
    z-index: $defaultZIndex + 1
    flex: 1
    display: flex
    align-items: center
    justify-content: flex-end