// FONTS
+fontFromUrl("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700")
+fontFromUrl("https://fonts.googleapis.com/css?family=Lato:100,400,700")
+font("BravoRG", "BravoRG")

=font_PT_Sans_Narrow($weight: 400)
  font-family: 'PT Sans Narrow', sans-serif
  font-weight: $weight
  letter-spacing: initial

=font_BravoRG($weight: 400)
  font-family: "BravoRG", sans-serif
  font-weight: $weight
  letter-spacing: 2px

=font_Lato($weight: 400)
  font-family: Lato, sans-serif
  font-weight: $weight
  letter-spacing: 0.8px