// FONTS
+fontFromUrl("https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700")
+font("Lato", "Lato")
+font("BravoRG", "BravoRG")

.font
  &-lato
    font-family: Lato, sans-serif

  &-bravo-rg
    font-family: BravoRG, sans-serif

  &-pt-sans
    font-family: 'PT Sans Narrow', sans-serif

.weight
  &-thin
    font-weight: 100

  &-light
    font-weight: 300

  &-regular
    font-weight: 400

  &-medium
    font-weight: 500

  &-bold
    font-weight: 700

  &-black
    font-weight: 900

.size
  &-small
    font-size: 0.875em

  &-normal
    font-size: 1.125em

  &-normal2
    font-size: 1.25em

  &-normal3
    font-size: 1.375em

  &-big
    font-size: 2em

  &-big2
    font-size: 2.25em

  &-big3
    font-size: 2.375em

  &-bigger
    font-size: 4em

  &-bigger2
    font-size: 4.75em

  &-biggest
    font-size: 6em

*
  font-size: inherit

html
  font-size: 16px
  +mediaMaxWidth($wide)
    font-size: 12px

body
  @extend .font-lato
  @extend .weight-regular
  @extend .size-normal

  color: $fontColor
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

body
  font-size: 100%

h1, h2, h3, h4, h5, h6
  @extend .font-bravo-rg
  @extend .weight-regular
  text-transform: uppercase
  z-index: $defaultZIndex + 1

h1
  margin: 1rem 0
  font-size: 4rem

h2
  margin: 0.8rem 0
  font-size: 3rem

h3
  margin: 0.6rem 0
  font-size: 2.4rem

h4
  margin: 0.4rem 0
  font-size: 1.8rem

h5
  margin: 0.2rem 0
  font-size: 1.4rem

h6
  margin: 0.1rem 0
  font-size: 1.2em

span, p
  @extend .font-lato
  @extend .size-normal2
  @extend .weight-light

  line-height: 1.6

.heading
  @extend .font-bravo-rg
  @extend .size-big
  line-height: 1

.caption
  @extend .font-bravo-rg
  @extend .weight-regular
  @extend .size-normal

  display: flex
  flex-direction: column
  align-items: flex-start
  position: relative
  color: $colorGreen

  &:before
    content: ''
    position: absolute
    z-index: -1
    left: 0
    top: 0.8em
    width: 100%
    height: 1px
    background: $colorGreen

  &__text
    font-size: 1.4em
    white-space: nowrap
    line-height: 1.3
    position: relative
    background: $background
    padding: 0 20px
    margin-right: 20px
    align-self: flex-end
    display: inline-block

  &.with-hash-tags
    padding-left: 30%

    .caption__text
      margin-left: -20px
      align-self: flex-start

    &:before
      width: 30%

  .hash_tags
    white-space: nowrap
    @extend .size-small
    line-height: 1
    padding-top: 10px
    max-width: 70%

//
  16px base
  -------------------------
  14px - small   = 0.875rem
  18px - normal  = 1.125rem
  20px - normal2 = 1.25rem
  22px - normal3 = 1.375rem
  32px - big     = 2rem
  36   - big2    = 2.25rem
  38px - big3    = 2.375rem
  64px - bigger  = 4rem
  76px - bigger2 = 4.75rem
  96px - biggest = 6rem