*
  box-sizing: border-box
  outline: none
  z-index: $defaultZIndex

a
  color: inherit
  text-decoration: none
  &:hover, &:focus
    text-decoration: none

ul
  list-style: none
  li
    display: inline-block

img
  user-select: none

body, html
  background: $background
  +font_BravoRG()
  font-size: 16px
  color: $fontColor
  line-height: 1
  min-width: 320px
  max-width: 100%
  margin: 0
  overflow-x: hidden
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.page
  display: flex
  flex: 1
//&__content
  // used for sticky footer (flexbox way)
  flex: 1 0 auto
  display: flex
  flex-direction: column
  // header offset ex
  padding-top: 100px

.container
  display: flex
  max-width: 90vw

  //+mediaMinWidth($desktop)
  //  max-width: 800px
  +mediaMinWidth($wide)
    max-width: 1200px !important
  // TODO: Check why <style> css overrides that?

  width: 100%
  height: 100%
  margin-left: auto
  margin-right: auto

.container__item
  flex: 1

=innerContainer()
  position: relative
  display: flex
  flex: 1

.container_hor
  +innerContainer
  flex-direction: row

.container_ver
  +innerContainer
  flex-direction: column

.alignItems
  &Start
    align-items: flex-start
  &Center
    align-items: center
  &End
    align-items: flex-end

.justifyContent
  &Start
    justify-content: flex-start
  &Center
    justify-content: center
  &End
    justify-content: flex-end

//.container
  max-width: 1200px
  width: 100%
  margin-left: auto
  margin-right: auto
  padding-left: 40px
  padding-right: 40px

+mediaMaxWidth($mobile)
  .container
    padding-left: 20px
    padding-right: 20px

// REMOVE FOR PRODUCTION !
.dev-bp-debug
  background: black
  position: fixed
  top: 0
  right: 0
  z-index: 9999
  color: white
  padding: 5px
  font-size: 12px
  border-bottom-left-radius: 5px

.background_letter
  position: absolute
  z-index: 1
  zoom: 0.8

.layout__offset
  padding-left: $paddingWrapperSide
  padding-right: $paddingWrapperSide

.layout__vertical_offset
  padding-top: $paddingWrapperVertical
  padding-bottom: $paddingWrapperVertical