*
  box-sizing: border-box
  outline: none
  z-index: $defaultZIndex

a
  color: inherit
  text-decoration: none
  cursor: pointer
  &:hover, &:focus
    text-decoration: none

ul
  list-style: none
  li
    display: inline-block

img
  user-select: none

body, html
  display: flex
  flex-direction: column
  background: $background
  margin: 0
  overflow-x: hidden
  min-height: 100vh
  min-width: 320px
  max-width: 100%

.fullpage__section
  all: inherit
  position: relative

#fullpage__pager
  position: fixed
  right: 20px
  top: 50%
  transform: translateY(-50%) scaleX(-1)
  z-index: 9999

.page, #barba-wrapper
  display: flex
  flex-direction: column
  flex: 1
  z-index: $defaultZIndex - 1

.page__content
  display: flex
  flex: 1
  position: relative

.page__background
  z-index: 0
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  background-size: cover
  background: no-repeat center

.container
  display: flex
  flex: 1
  max-width: 90vw
  //height: 100%

  +mediaMinWidth($wide)
    max-width: 1200px !important
  // TODO: Check why <style> css overrides that?

  margin-left: auto
  margin-right: auto

  &__item
    display: flex
    flex: 1

=innerContainer()
  position: relative
  display: flex
  flex: 1

.container_hor
  +innerContainer
  flex-direction: row

.container_ver
  +innerContainer
  flex-direction: column

.alignItems
  &Start
    align-items: flex-start
  &Center
    align-items: center
  &End
    align-items: flex-end

.justifyContent
  &Start
    justify-content: flex-start
  &Center
    justify-content: center
  &End
    justify-content: flex-end

+mediaMaxWidth($mobile)
  .container
    padding-left: 20px
    padding-right: 20px

.background_letter
  position: absolute
  z-index: 1
  transform: scale(0.8)
  //zoom: 0.8

.layout__offset
  padding-left: $paddingWrapperSide
  padding-right: $paddingWrapperSide

.layout__vertical_offset
  padding-top: $paddingWrapperVertical
  padding-bottom: $paddingWrapperVertical

.crop
  position: relative
  width: 100%
  height: 100%
  overflow: hidden

.image_within_div
  width: 100%
  height: 100%
  background: no-repeat center
  background-size: cover

.social
  display: block
  background: $colorGreen no-repeat center center
  width: 40px
  height: 40px
  border-radius: 1000px
  transition: background-color $ease $transitionSpeed

  &:hover
    background-color: $colorGreen2

.facebook
  background-size: 25% !important
  background-image: url("../img/socials/facebook.png") !important

.twitter
  background-size: 45% !important
  background-image: url("../img/socials/twitter.png") !important

.vk
  background-size: 45% !important
  background-image: url("../img/socials/vk.png") !important

.instagram
  background-size: 45% !important
  background-image: url("../img/socials/instagram.png") !important

// REMOVE FOR PRODUCTION !
.dev-bp-debug
  background: black
  position: fixed
  top: 0
  right: 0
  z-index: 9999
  color: white
  padding: 5px
  font-size: 12px
  border-bottom-left-radius: 5px
