include _mixins

block vars
  -
    var title = "Undefined title"

doctype html
html(lang="en")
  head
    block head
      include _head

  body(class=bodyClass)
    // place where pjax bindings happen's
    block modals
      include ../modals/_reserve
      include ../modals/_thanks

    #barba-wrapper
      block header
        include ../components/_header
        +header()

      // what should be changed with every pjax
      .page
        .page__content
          block content

        block footer
          include ../components/_footer
          +footer()

      block scripts
        include _scripts
