-
  var
  /**/ hrefFB = "http://fb.com",
  /**/ hrefVK = "http://vk.com",
  /**/ hrefIG = "http://instagram.com",
  /**/ hrefTW = "http://twitter.com"

  var menus = [
  /*  */ ['Меню', 'menu'],
  /*  */ ['О нас', 'about'],
  /*  */ ['Новости', 'news'],
  /*  */ ['Контакты', 'contacts']
  /**/ ]