.ico-email {
  width: 1.4em;
  height: 1em;
  fill: #FFF;
}
.ico-logo {
  width: 1.79em;
  height: 1em;
  fill: #171717;
}
.ico-made {
  width: 6.72em;
  height: 1em;
  fill: #404040;
}
.ico-o-letter {
  width: 0.99em;
  height: 1em;
  fill: #EDEDED;
}
.ico-reserve {
  width: 9.39em;
  height: 1em;
  fill: #7BB43A;
}
.ico-y-letter {
  width: 0.94em;
  height: 1em;
  fill: #EDEDED;
}
